<%- include("../partials/headermain") %>
<div class="hero">
    <div class="hero__center container">
        <div class="hero__left">
            <h1>Movie Rental</h1>
            <p>
                Rent blockbuster Movies with HD quality and high-audio quality at nominal rates and let the actors procide you with unlimited entertainment.
            </p>
            <a href="allmovies.html" class="button hero__btn">Rent Now</a>
        </div>

        <div class="hero__right">

        </div>
    </div>

</div>
</header>

<main>
<section class="section new" id="new">
    <div class="new__center container">
        <div class="title">
            <h1>Top Movie Rentals of the week</h1>
        </div>

        <div class="product__center">
            
            <div class="product">
                <a href="productpage.html"> 
                <div class="product__header">
                    <img src="assets/imgs/avengers.jpg" alt="">

                </div>
                
                    <div class="product__footer">
                        <h2>avengers</h2>

                        <h4 class="price">Rs. 5 / day</h4>
                    </div>

                </a>
                
            </div>
            <div class="product">
                <div class="product__header">
                    <img src="assets/imgs/spiderman.jpg" alt="">

                </div>
                <div class="product__footer">
                    <h2>Spiderman</h2>

                    <h4 class="price">Rs. 3 / day</h4>
                </div>
            </div>
            <div class="product">
                <div class="product__header">
                    <img src="assets/imgs/aquaman.jpg" alt="">

                </div>
                <div class="product__footer">
                    <h2>Aquaman</h2>

                    <h4 class="price">Rs. 4 / day</h4>
                </div>
            </div>
            <div class="product">
                <div class="product__header">
                    <img src="assets/imgs/batman.jpg" alt="">

                </div>
                <div class="product__footer">
                    <h2>Batman</h2>

                    <h4 class="price">Rs. 5 / day</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section category">
    <div class="category__center container">
        <div class="category__left">
            <div class="content">
                <h2>Rent Top Movies</h2>
                <h1>50% off</h1>
                <a href="allmovies.html" class="button category__btn">Rent Now</a>
            </div>
            <img src="assets/imgs/50off.jpg" alt="">
        </div>

        <div class="category__right">
            <div class="content">
                <h2>Sign-up now and win</h2>
                <h1>Exciting Coupons</h1>
                <a href="newuser.html" class="button category__btn">Register Now</a>
            </div>
            <img src="assets/imgs/coupons.jpg" alt="">
        </div>
    </div>
</section>

</main>

<footer id="footer" class="section footer" >
<div style="margin-left: 10%;">
Movie Rental Store <br> All the terms and conditions applied <br><br>
Any queries? <br> Reach out to us on: <br>
Email: Rentals@movies.com
</div> 

</footer>



</body>

</html>