<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    
        <title>login</title>
    </head>

    <style>

         
        button {   
               background-color: #4CAF50;   
               width: 100%;  
                color:#fff;   
                padding: 15px;   
                margin: 10px 0px;   
                border: none;   
                cursor: pointer;   
                 }   
 
         input[type=text], input[type=password] {   
                width: 100%;   
                margin: 8px 0;  
                padding: 12px 20px;   
                display: inline-block;   
                border: 0.5px solid #000;   
                box-sizing: border-box;   
            }  
         button:hover {   
                opacity: 0.7;   
            }   
          .cancelbtn {   
                width: auto;   
                padding: 10px 18px;  
                margin: 10px 5px;  
            }   
  
        </style>   
    <body>
        <header class="header" id="header" style="height: 100px !important;">
            <nav class="nav">
                <div class="nav__center container">
                    <div class="logo">
                        <h1>Movie Rental Store</h1>
                    </div>
    
                    <div class="nav__menu" style="margin-top: 1.5% !important;">
                        <ul class="nav__list">
                            <li class="nav__item">
                                <a href="/homepage" class="nav__link scroll-link">Home</a>
                            </li>
    
                            <li class="nav__item">
                                <a href="/myrents" class="nav__link scroll-link">My Rentals</a>
                            </li>
    
                            <li class="nav__item">
                                <a href="/alldisplay" class="nav__link scroll-link">Explore</a>
                            </li>
    
                            <li class="nav__item">
                                <a href="/customer/login" class="nav__link scroll-link">Login/Signup</a>
                            </li>

                        </ul>
    
                        
                    </div>
                </div>
            </nav>
    
           
        </header>

         <div style="margin-top:5%">
                <center><h1> Login </h1> </center>   
                <form action="/customer/login" method="POST">  
                    <div class="container" style="width:50% !important;">   
                        <label>Email : </label>   
                        <input type="text" placeholder="Enter Email-ID" name="email" required>  
                        <label>Password : </label>   
                        <input type="password" placeholder="Enter Password" name="password" required>  
                        <button type="submit">Login</button>  
                        <a href="newuser.html"> New user? Signup</a> <br><br>
                        <a href="#"> Employee? Login Here</a> 
                    </div>   
                </form>     
            </div>

    </body>
</html>