<form action="/file/upload" method="POST" enctype="multipart/form-data">
    <label class="form-control-file my-3 w-50 p-3 mx-auto" for="FormFile">Please Upload an image </label>
    <input class="form-control-file my-3 w-50 p-3 mx-auto" type="file" id="image" name="file" >

    <input class="btn btn-success my-3 mx-auto d-flex justify-content-center"  type="submit">   
   
</form>     