<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="robots" pureent="noindex, nofollow">
    <meta name="viewport" pureent="width=device-width, initial-scale=1.0">
    
    <title>Movie Rental Store</title>

    <link rel="stylesheet" href="assets/css/pure-min.css">
    <link rel="stylesheet" href="assets/css/pure-responsive-min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <div id="layout" class="hamdash">
        <div class="sidebar hamdash1 hamdashres">
            <div id="menu">
                <div class="menuval">
                    <p class="menuval-heading">
                        Admin
                    </p>
                    <ul class="listmenu">
                        <li class="listmenuselect">
                            <a href="/dashboard" class="listmenul">Dashboard</a>
                        </li>
                        <li>
                            <a href=" transactions.html" class="listmenul">Transactions</a>
                        </li>
                        <li>
                            <a href="/distributor" class="listmenul">Distributor</a>
                        </li>
                        <li class="menu-item-divided">
                            <a href="/employee" class="listmenul">Store Employee </a>
                        </li>
                        <li>
                            <a href="MovieInventory.html" class="listmenul">Movie Inventory</a>
                        </li>
                        <li class="menu-item-divided">
                            <a href="history.html" class="listmenul">Rental History</a>
                        </li>
                        <li class="menu-item-divided">
                            <a href="editadmin.html" class="listmenul">Edit Admin Login</a>
                        </li>
                        
                        <li class="menu-item-divided">
                            <a href="/user/logout" class="listmenul">LogOut</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>