<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- StyleSheet -->
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <title>Movie Rental Store</title>
</head>

<body>

    <!-- Header -->

    <header class="header" id="header">
        <nav class="nav">
            <div class="nav__center container">
                <div class="logo">
                    <h1>Movie Rental Store</h1>
                </div>

                <div class="nav__menu" style="margin-top: 1.5% !important;">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="homepage.html" class="nav__link scroll-link">Home</a>
                        </li>

                        <li class="nav__item">
                            <a href="./myrentals.html" class="nav__link scroll-link">Rentals</a>
                        </li>

                        <li class="nav__item">
                            <a href="./allmovies.html" class="nav__link scroll-link">Explore</a>
                        </li>

                        <li class="nav__item">
                            <a href="log-sign.html" class="nav__link scroll-link">Login/Signup</a>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>