

    
    @media screen and (min-width:48em){
        .fillin-val,.hamdashres
        {display:inline-block;
            zoom:1;letter-spacing:normal;
            word-spacing:normal;vertical-align:top;
            text-rendering:auto}
            .hamdashres{width:12.5%}
            .fillin-val{width:87.5%}


}
    