<%- include("./partials/header") %>

        <div class="pureent hamdash1 fillin-val">
            <div class="header-small">

                <div class="items">
                    <h1 class="subhead">Dashboard</h1>
                </div>
                <div>
                 <span>  
                     Welcome <%=oneemp.ename%>
                 </span><br><br> 
                </div>

               

                

            </div>
        </div>
    </div>
</body>
</html>
