<%- include("./partials/header") %>

        <div class="pureent hamdash1 fillin-val">
            <div class="header-small">

                <div class="items">
                    <h1 class="subhead">Dashboard</h1>
                </div>
                <div>
                 <span>  <a  class="btn button-small button-secondary" href="newrental.html">New Rental</a> </span> <span><a  class="btn button-small button-secondary" href="transactions.html">View All Transactions</a></span> <span><a  class="btn button-small button-secondary" href="allcustomers.html">Existing Customers</a></span><br><br> 
                </div>

               

                

            </div>
        </div>
    </div>
</body>
</html>
