<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Pag3e</title>
</head>
<body>
    <a href="/">Home page</a>
    <a href="/user/login">Login</a>
    <a href="/user/register">Register</a>
</body>
</html>