<%- include("./partials/header") %>
        

        <div class="pureent hamdash1" style="text-align: center;margin-left: 25%; margin-top: -4%;margin-right: 15%;">
            <div class="header-medium">

                <div class="items">
                    <h1 class="subhead" style="font-size: 60px!important; text-align: center;">Login</h1>

                        
                    <form action="/user/login" method="POST" class="form form-stacked">
                        <fieldset>

                            <label for="email">Email</label>
                            <input id="email" type="email" placeholder="Email" class="pure-input-1" name="email">
                            <br><br>
                            <label for="password">Password</label>
                            <input id="password" type="password" placeholder="Password" class="pure-input-1" name="password">
                            <br><br>
                            <button style="text-align: center;margin-left: 46%;" type="submit" class="btn button-success">Sign in</button>
                        </fieldset>
                    </form>
                </div>

            </div>
        </div>
    </div>
</body>
</html>
