<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
</head>
<body>
    <a href="/">Home page</a>
    <form action="/user/register" method="POST">
        <label for="Name">Name :</label>
        <input type="text" name="name" id="Name">
        <label for="Email">Email :</label>
        <input type="email" name="email" required id="Email">
        <label for="Password">Password :</label>
        <input type="password" name="password" required id="Password">
        <label for="Password2">Password2 :</label>
        <input type="password" name="password2" required id="Password2">
        <input type="submit">
    </form>
</body>
</html>