<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Supervisor</title>
</head>
<body>
    <a href="/">Home page</a>
    <form action="/user/supervisor" method="post">
        <label for="Email">Email:</label>
        <input type="email" name="email" id="Email">
        <input type="submit">
    </form>
</body>
</html>