<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Movie</title>
</head>
<body>
    <a href="/">Home page</a>
    <form action="/movies" method="post">
        <label for="description">Description :</label>
        <input type="text" name="descp" id="description" placeholder="Enter the description">
    </form>
</body>
</html>