<%- include("../partials/header") %>
<div class="pureent hamdash1 fillin-val">
    <div class="header-small">

        <div class="items">
            <h1 class="subhead"> Customer Details</h1>
            

            <form action="/customer/add" method="post" novalidate autocomplete="off" class="form form-stacked">
                <fieldset>
                    <br>
                    
                    <label for="customerName">Customer Name </label>
                    <input id="customerName" type="text" name="cusname" placeholder="Customer Name" class="pure-input-1" value="" >
                    <br>
                    <label for="cusstr">Store Number</label>
                    <input id="cusstr" type="number" name="stid" placeholder="Store Number" class="pure-input-1" value="">
                    <br>
                    <label for="cusphno">Phone Number</label>
                    <input id="cusphno" type="number" name="ph" placeholder="Phone Number" class="pure-input-1" value="">
                    <br>
                    <label for="cusaddress">Customer Address</label>
                    <input id="cusaddress" type="text" name="address" placeholder="Customer Address" class="pure-input-1" value="">
                    <br>
                    <label for="cusemail">Customer email</label>
                    <input id="cusemail" type="email" name="email" placeholder="Customer Email" class="pure-input-1" value="">
                    <br>
                    
                    
                    <br><br>
                    <input type="hidden" name="id" value="1">
                    <button type="submit" class="btn button-success">Submit</button>
                </fieldset>
            </form>
        </div>

    </div>
</div>
</div>
</body>
</html>